.container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

/* AskAI.css */

.container {
  width: 100%;
  margin-bottom: 20px;
}

.container h3 {
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.container input[type='text'] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.container .ask-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.container .ask-button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
  position: relative;
}

.result-container textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.result-container .close-button {
  position: absolute;
  top: 0px;
  right: 8px;
  width: 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  font-family: Arial, sans-serif;
}
